body {
  font: helvetica, sans-serif;
}

h1 {
  font: 6px;
  border-bottom: 2px solid black;
}

h2 {
  font-size: 20px;
}

.container {
  width: 600px;
  margin: 10px auto;
  padding: 30px 30px;
  border: 5px solid;
}

center {
  background: #F0E68C;
  color: black;
  font: 25px;
}

col {
  display: table-column;
}

table, th, td {
  border: 2px solid;
  padding: 5px 5px;
}

div {
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 80px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 80px;
  /* Firefox */
  column-gap: 80px;
}
